Debug
*.atsln
*.cproj
*.xml
*.atsuo
Python/__pycache__/connect.cpython-37.pyc
Python/__pycache__/connect.cpython-37.pyc
Python/__pycache__/connect.cpython-37.pyc
Python/__pycache__/converters.cpython-37.pyc
Python/__pycache__/converters.cpython-37.pyc
Python/__pycache__/test_gui.cpython-37.pyc
Python/__pycache__/protocol.cpython-37.pyc
Python/__pycache__/graph_protocol.cpython-37.pyc
Python/__pycache__/protocol.cpython-37.pyc
Python/test_class.py
Python/test_gui.py
Python/backup
